// .dialog-conten {
//     display: block;
//     padding: 24px;
//     border-radius: 4px;
//     box-sizing: border-box;
//     overflow: auto;
//     outline: 0;
//     width: 100%;
//     height: 100%;
//     min-height: inherit;
//     max-height: inherit;
//     border-radius: 20px;
   
// }

.dialog-content {
  padding: 20px;
  margin-top: 1px;
  background: #afd7c1;
  border-radius: 8px;
  border: 8px solid transparent;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* 👇 Animation */
  opacity: 0;
  transform: scale(0.5);
  animation: zoomInBox 0.6s ease-out forwards;
}

@keyframes zoomInBox {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.dialog-content p
{
  color: rgb(122, 12, 12);
  font-size: 16px;
  font-family: georgia;
  font-weight: bold;

}
 .button-actions button
{
  margin: 10px 80px;
}



.dialog-content img
{
     margin-left: 11rem;
   

}



// /* Common style for .button-actions under max-width: 425px */
// @media (max-width: 425px) {
//   .button-actions {
//     display: flex;
//     justify-content: center;
//     gap: 12px;
//   }
// }

/* Only video margin changes across different widths */

@media (max-width: 425px) {
 .dialog-content img {
    margin-left: 5rem;
  }
   .button-actions button
{
  margin:5px 23px;
}
}

@media (max-width: 375px) {
 .dialog-content img {
    margin-left: 3rem;
  }
  .button-actions button
{
  margin:5px 10px;
  
}
}

@media (max-width: 320px) {
.dialog-content img {
    margin-left: 3rem;
  }
}
