h2.confirm {
  text-align: center !important;
  font-weight: bold !important;
  color: #065b30 !important;
  font-family: Georgia, serif !important;
}

#mat-dialog-0 {
    background: black !important;
}