

<div class="user-container" *ngIf="avatar && name">
<div class="profile-wrapper">

<div class="go-back-btn ">
  <button mat-raised-button color="primary" (click)="goBack()">Back To List</button>
</div>



<div class="avatar-ring">
  <div class="outer-circle"></div>
  <img [src]="avatar" class="avatar-img" alt="Avatar" title="{{ name }}">
</div> 

  




<h2 class="user-name text-white m-2">{{ name }}</h2>
<div class="userDetails">
  <h5>
    {{role}}
  </h5>
  <span>{{email}}</span>

</div>
 

<div class="card-footer border-white my-2  d-flex">
<button routerLink="edit" mat-raised-button color="primary">Edit</button>
<button (click)="onDelete()" mat-raised-button color="warn">Delete</button>
</div>

</div>
</div>



































<!-- ------------------------------------------------------------------------------------------------------ -->




<!-- <div class="row" *ngIf="userInfo">
  <div class="col-md-4 offset-md-4">
    <div class="card text-center p-4 shadow-lg">

      <div class="avatar-circle bg-dark d-flex align-items-center justify-content-center mx-auto mb-3" style="height: 120px; width: 120px; border-radius: 50%; overflow: hidden;">
        <img [src]="userInfo.avatar" class="avatarImg" alt="{{ userInfo.name }}" style="height: 100%; width: 100%; object-fit: cover;">
      </div>

      <h1>{{ userInfo.name }}</h1>
    </div>
  </div>
</div> -->




<!-- ------------------------------------------------------------------------------------------------------ -->

<!-- <div class="user-container" *ngIf="userInfo">
  <div class="user-card">
    
    <div class="avatar-wrapper">
      <img [src]="userInfo.avatar" class="avatar-img" alt="{{ userInfo.name }}">
    </div>

    <h1 class="user-name">{{ userInfo.name }}</h1>

  </div>
</div> -->
